
body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes pisca {
    0% {opacity: 0.2;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
}

.urna{
    display:flex;
    background-color:#dbd5c9;
    padding: 30px;
}
.tela{
    width: 500px;
    height:340px;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1 );
    display:flex;
    flex-direction:column;
    border: 2px solid #333;
}
.teclado{
    background-color: #403A3A;
    margin-left:30px;
}
.linha-teclado{
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.linha-botao{
    background-color: #000;
    color: #fff;
    font-size: 20px;
    width:70px;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    box-shadow: 3px 3px 0px #555;
}

.btn-branco{
    background-color:#fff;
    color:#000;
    font-size: 15px;
}
.btn-corrige{
    background-color:#F09046;
    color:#000;
    font-size: 15px;
}
.btn-confirma{
    background-color:#48c079;
    color:#000;
    font-size: 15px;
    width: 90px;
    height:50px ;
}
.d-1{
    flex: 1;
    display: flex;
}
.d-1-left{
    flex:1;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.d-1-1{
    height: 50px;
    display: flex;
    align-items: center;
}
.d-1-2{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-1-3{
    height: 50px;
    display: flex;
    align-items: center;

}
.d-1-3 .numero{
    width: 40px;
    height:50px;
    border: 1px solid #000;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    margin-left: 10px;
}
.pisca{
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
.d-1-4{
    flex: 1;
    line-height: 2;
    margin-top: 10px;
}
.d-1-right{
    width: 90px;
}
.d-1-img{
    background-color: #fff;
    text-align: center;
}
.d-1-img img{
    width: 100%;
    border-left: 2px solid #403A3A;
}
.d-2{
    height: 50px;
    border-top: 4px solid #403A3A;
    padding-left: 10px;
    font-size: 13px;
}

.aviso--grande{
    font-weight: bold;
    font-size: 40px;
    margin-left: 10px;
}

.aviso--gigante{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
}